@black: #000;
@white: #FFF;
@tweety: #FFEE609;
@sylvester: #D50745;
@altBlue: #5BA6C9;
@oldGold: #DABE60;
@paleRed: #C27264;
@dkPaleRed: #B35241;
@mdBlue: #74B1DB;
@lightBlue: #97DAF9;
@bg: #e3c3b5;

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.altrow {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.altcolumn {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
