.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.altrow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.altcolumn {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.box {
  border: 2px groove #C27264;
  background-color: #B35241;
  box-shadow: 0.1em 0.25em 0.75em #C27264;
}
