h4 {
    font-family: sans-serif;
}
.theGrid {
	display: flex;
	height: 42vw;
	width: 94vw;
	/* border: 1px solid white; */
	margin-top: 24px;
	position: relative;
}
.section {
	display: flex;
	position: absolute;
    height: 10vw;
    width: 50vw;
	/* transform: rotateZ(45deg); */
}
.section div:nth-of-type(1) {
	/* border: 3px solid red; */
	transform: rotateZ(20deg);
    border-radius: 50%;
	height: 35vw;
    width: 30vw;
    box-shadow: 0.1em 0.25em 0.75em #C27264;
    position: relative;
}
.section div:nth-of-type(1) img {
	transform: rotateZ(-16deg);
    width: 28vw;
    overflow: hidden;
	position: absolute;
	border-radius: 50%;
	box-shadow: 0.5em 0.35em 0.95em #C27264;
}
.section .hiddenBox {
	width: 6vw;
	height: 28vw;
	border-radius: 50%;
	transform: rotateZ(-33deg);
	box-shadow: 0.1em 0.25em 0.75em #C27264;
}
.section div:nth-of-type(3) {
	/* border: 3px solid blue; */
	transform: rotateZ(-51deg);
	border-radius: 50%;
	height: 33vw;
    width: 26vw;
	box-shadow: 0.1em 0.25em 0.75em #C27264;
    position: relative;
}
.section div:nth-of-type(3) img {
	transform: rotateZ(77deg);
    width: 21vw;
    overflow: hidden;
	position: absolute;
	border-radius: 50%;
	box-shadow: .10em .25em .75em #C27264;
}

.altSection {
	display: flex;
	position: absolute;
	margin-left: 46vw;
    margin-top: -8vw;
    height: 18vw;
    width: 37vw;
	margin-top: 150px;
    margin-left: 144px;
	/* transform: rotateZ(-45deg); */
}

.altSection div {
	height: 15vw;
    width: 21vw;
	box-shadow: .10em .25em .75em #C27264;
}

.altSection div:nth-of-type(1) {
	/* border: 3px solid black; */
	/* transform: rotateZ(34deg); */
	height: 5vw;
    width: 18vw;
	box-shadow: .10em .25em .75em #C27264;
	border-radius: 50%;
}

.altSection div:nth-of-type(1) img {
	width: 22vw;
	overflow: hidden;
	position: absolute;
	box-shadow: .10em .25em .75em #C27264;
}
.altSection div:nth-of-type(2) {
	border: 3px solid purple;
	/* transform: rotateZ(61deg); */
	height: 16vw;
    width: 27vw;
    margin-top: 18vw;
    margin-right: 8vw;
	box-shadow: .10em .25em .75em #C27264;
}

.altSection div:nth-of-type(2) img {
	width: 22vw;
	overflow: hidden;
	position: absolute;
	box-shadow: .10em .25em .75em #C27264;
}
