{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/imageGrid.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/sNt.png' %}" />
    <title>Payne Family</title>
</head>
<body>
    <header>
            {% block header %} {% include 'header.html' %} {% endblock header %}
    </header>
    <div>
        {% if messages %}
        <section class='messages'>
            {% for message in messages %}
            <h3 {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h3>
            {% endfor %}
        </section>
        {% endif %}
    </div>
    <main>
        <div class="theGrid">
            <div class="section">
                <div>
                    <img src="{% static 'images/momDad04.jpg'%}" alt="">
                </div>
                <div class="hiddenBox"></div>
                <div>
                    <img src="{% static 'images/momDad05.jpg'%}" alt="">
                </div>
            </div>
            <div class="altSection">
                <div>
                    <img src="{% static 'images/momDad10.jpg'%}" alt="">
                </div>
                <div class="hiddenBox"></div>
                <div>
                    <img src="{% static 'images/momDad07.jpg'%}" alt="">
                </div>
            </div>
        </div>
        <div class="about">
            <h1>About the website</h1>
            <p>What started as a simple Anniversary present has grown to so much more.</p>
            <p>It all started with an idea to make a special unique anniversary gift for my parents.  Taking the idea of a temperature blanket and adjusting it to show the events of 50 years of marriage. Showing the different events that transpired good and bad through out their amazing life.</p>
            <p>However as stated it has grown.  Part of the idea behind the blanket was so that they can look back at their life together and remember it all... even if it is the only way they can remember it.  Then the idea of away to share this with generations to come...as adding to the blanket would seem impractical this website idea was created.</p>
        </div>
    </main>
    <footer>
        {% block footer %} {% include 'footer.html' %} {% endblock footer %}
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>